/* src/components/Experience.css */
.experience-section {
  padding: 50px 0; /* Adjust padding as needed */
  background-color: #f4dfda;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2, h3 {
  color: #333;
}

.experience-item {
  background-image: url('../HeroSection/k.jpeg'); /* Set background image */
  background-size: 110%; /* Set background size to 110% width */
  background-position: center; /* Center the background image */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.experience-item h3 {
  color: #333; /* Adjust color as needed */
}

.experience-item p {
  color: #333;
  margin-bottom: 10px;
}
