/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4dfda;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: Lucida Handwriting;
  font-size: 2em;
}
h3{
  color: azure;
}
p {
 
  line-height: 1.6;
}
